{:paths   ["src/main" "resources"]
 :deps    {org.clojure/clojure               {:mvn/version "1.10.2"}
           org.clojure/core.async            {:mvn/version "1.3.610"}
           com.datomic/dev-local             {:mvn/version "0.9.232"}
           com.fulcrologic/fulcro            {:mvn/version "3.4.20"}
           com.fulcrologic/fulcro-websockets {:mvn/version "3.3.0"}
           edn-query-language/eql            {:mvn/version "1.0.2"}
           http-kit/http-kit                 {:mvn/version "2.3.0"}
           ring/ring-core                    {:mvn/version "1.6.3"}
           com.wsscode/pathom                {:mvn/version "2.2.15"}
           com.taoensso/encore               {:mvn/version "3.13.0"}
           com.taoensso/timbre               {:mvn/version "4.10.0"}}

 :aliases {:dev   {:extra-paths ["src/dev"]
                   :extra-deps  {org.clojure/clojurescript   {:mvn/version "1.10.742"}
                                 com.google.guava/guava      {:mvn/version "30.1.1-jre"}
                                 thheller/shadow-cljs        {:mvn/version "2.11.18"}
                                 binaryage/devtools          {:mvn/version "0.9.10"}
                                 nrepl/nrepl                 {:mvn/version "0.7.0"}
                                 nubank/workspaces           {:mvn/version "1.0.15"}
                                 cider/piggieback            {:mvn/version "0.5.0"}
                                 org.clojure/tools.namespace {:mvn/version "0.2.11"}}}
           :nrepl {:main-opts ["-m" "nrepl.cmdline" "-p" "7000"]}}}
