{:config-paths ["./cache"]
 :lint-as {clojure.core.cache/defcache clojure.core/defprotocol
           com.fulcrologic.fulcro.components/defsc clojure.core/defn
           com.wsscode.pathom.connect/defresolver clojure.core/defn
           com.wsscode.pathom.connect/defmutation clojure.core/defn
           com.fulcrologic.fulcro.mutations/defmutation clojure.core/defn
           hp.mutations.macros/def-wssync-mutation clojure.core/defn
           hp.resolvers/defresolver clojure.core/defn}}
